#teamLogo {
    width: 100px;
    height: 100px;
    padding-right: 10px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#links {
    padding-right: 10px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #06582b;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.newsSite {
    text-align: center;
    justify-content: space-around;
    padding: 6px;
    background-color: rgb(255, 216, 143);
    border: 4px solid black;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    max-width: 300px;
}

#news {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.newsImage {
    width: 250px;
    height: 250px;
}
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5e5e5e;
    text-align: center;
    background-color: rgb(255, 188, 101);
    margin: 30px;
    padding: 20px;
}

.teamLineup {
    text-align: center;
    background-color: rgba(175, 117, 9, 0.555);
    margin: 40px;
    
}

#lineupTitle {
text-align: center;
    display: flex;
    justify-content: space-around;
}

.player {
    text-align: center;
    
}
#players {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon_player {
width: 52px;
height: 60px;
}